#feature {
  height: 600px;
  color: $blue-grayish;
  margin-top: 200px;
  article {
    background: linear-gradient(to right, $blue-very-dark, $blue-feature);
    border-radius: 0 80px 0 80px;
    height: 550px;

    .container-fluid, .row {
      height: 100%;
    }

    .container-fluid .row {
      position: relative;

      #feature-background-image {
        position: absolute;
        height: 100%;
        background: url(../images/bg-pattern-circles.svg) no-repeat;
        background-size: 160%;
        background-position: 50% 500%;
        border-radius: 0 80px 0 80px;
      }

      img {
        margin-top: -170px;
        z-index: 10;
      }

      #feature-description {
        margin-bottom: 100px;
        z-index: 10;
      }
    }
  }
}