#intro {
  background: linear-gradient(to right, $red-very-light, $red-light);
  height: 475px;
  border-radius: 0 0 0 80px;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 30%;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    background: url("../images/bg-pattern-intro.svg") no-repeat center/cover;
    transform: scale(2.2);
  }
}