#navigation {
  position: fixed;
  color: $white;
  letter-spacing: 1px;
  z-index: 10;

  .row {
    width: 100vw;

    .nav-item {
      display: flex;
      align-items: center;
      height: 53px;
      position: relative;

      &:hover > .nav-link {
        text-decoration: underline;
        color: inherit;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 16%;
        right: -120%;
        color: $blue-black-very-dark;
        background: $white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        padding: 20px 40px 20px 20px;

        animation: growDown $animation-duration ease-in-out forwards;
        transform-origin: top center;

        a {
          display: block;
          font-size: 14px;
          &:hover {
            color: $blue-black-very-dark;
            font-weight: 600;
          }
        }

        &.show {
          display: block;
        }
      }

      #hamburger {
        cursor: pointer;
      }
    }

    #nav-left {
      display: flex;
      .nav-item {
        margin: 0 3% 0 0;
        cursor: pointer;
        .nav-link {
          padding: 0.5rem 0.3em 0.5rem 1rem;
        }
        .arrow-icon-default {
          transition: $animation-duration;
        }
        .arrow-icon-expand {
          transform: rotate(-180deg);
        }
      }
    }

    #nav-right {
      display: flex;
      .nav-item {
        margin: 0;
        padding: 20px 4%;
        &#signup {
          color: $red-light;
          background: $white;
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
          transition: $animation-duration;
          &:hover {
            background: rgba($white,0.4);
            color: $white;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}