.products1 {
  color: $blue-grayish-very-dark;
  overflow: hidden;
  min-height: 90vh;
  h1, h2 {
    color: $blue-very-dark;
  }
  .image-area {
    .img-for-desktop {
      position: absolute;
      height: 100%;
      top: 0;
      left: 60%;
    }
  }
}

.products2 {
  color: $blue-grayish-very-dark;
  min-height: 90vh;

  .container {
    .row {
      .image-area {
        .img-for-desktop {
          position: absolute;
          height: 100%;
          top: 0;
          left: -19%;
        }
      }
    }
  }
}

#editor-description {
  position: relative;
}