$red-very-light: hsl(13, 100%, 72%);
$red-light: hsl(353, 100%, 62%);
$white: hsl(0, 0%, 100%);
$blue-very-dark: hsl(208, 49%, 24%);
$blue-grayish: hsl(240, 2%, 79%);
$blue-grayish-very-dark: hsl(207, 13%, 34%);
$blue-black-very-dark: rgb(37, 37, 45);
$blue-feature: #3B3E5D;

$animation-duration: 0.2s;